body {
    font-family: 'Arial', sans-serif;
}

code {
    font-size: 20px;
}

.antwoorden {
    list-style-type: upper-alpha;
    /* letters graag ook in kleurvakje */
    list-style-position: inside;
    padding-left:0em;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.antwoorden li:nth-child(even) {
    background-color: #eee;
}
.antwoorden li {
    /* maar wel ruimte om de keuze letters */ 
    padding-left: 1em;
}

.vraag {
    /* zodat vragen bij elkaar blijven bij printen */
    page-break-inside: avoid;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px;
}

/* ruimte onder de vragen en boven antwoordenblok */
li {
    padding-bottom: 0.5em;
}

ol {
    margin-top: 0.5em;
}

/* plaatjes zijn 100% breed */
img {
    width: 100%;
}
